:root {
  --main-color: #02022f;
  --border-radius: 8px;
  --font-size: 16px;
}
* {
  box-sizing: border-box;
  color: var(--main-color);
  font-family: "Supreme-Variable";
  line-height: 1.5;
}
body {
  font-size: var(--font-size);
  padding: 24px;
}
main {
  margin: auto;
  max-width: 1024px;
  width: 100%;
}
.button {
  background-color: var(--main-color);
  border: none;
  border-radius: var(--border-radius);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: var(--font-size);
  padding: 8px 16px;
  text-decoration: none;
}
.hero {
  text-align: center;
}