<footer class="container mx-auto">
  <div class="text-center py-4 border-b border-dashed">
    Interested in creating stunning resumes with Markdown? Check out our other
    product:
    <a
      class="font-bold text-accent-500 underline"
      href="https://resumey.pro/?ref=meatymeets"
      >Resumey.Pro</a
    >
  </div>
  <div class="text-center py-4">
    <a class="text-gray-700 border-b border-accent-500 mr-4" href="/terms/"
      >Terms of Service</a
    >
    <a class="text-gray-700 border-b border-accent-500 mr-4" href="/privacy/"
      >Privacy Policy</a
    >
    <span class="text-gray-700">Copyright © Rad Radium Pte. Ltd.</span>
  </div>
</footer>
