{{ define "main" }}
<div>
  {{ range where .Data.Pages "Title" "Home" }}
  <div
    class="text-center min-h-screen flex justify-center items-center flex-col bg-no-repeat bg-center"
    style="background-image: url('/background.svg'); background-size: 75%"
  >
    <h1
      class="text-center text-5xl font-bold max-w-lg mx-auto pb-8 leading-tight"
    >
      {{ .Params.tagline }}
    </h1>
    <div>
      <a
        class="inline-block align-middle text-accent-500 font-bold border-2 border-accent-500 bg-accent-100 px-4 py-2 rounded transition-all hover:-translate-y-0.5 hover:drop-shadow-lg"
        href="{{ .Params.install_url }}"
        target="_blank"
        >Add to Chrome</a
      >
      <a
        class="inline-block align-middle font-bold border-b-2 border-accent-500 ml-4"
        href="#how-it-works"
      >
        Learn More
      </a>
    </div>
  </div>

  <div id="how-it-works" class="py-12">
    <div class="text-center font-bold text-gray-700 mb-8">How it works</div>
    <div class="flex flex-wrap justify-center">
      {{ range .Params.how_it_works }} {{ partial "card.html" . }} {{ end }}
    </div>
  </div>

  <div class="py-12">
    <div class="text-center font-bold text-gray-700 mb-8">Features</div>
    <div class="flex flex-wrap justify-center">
      {{ range .Params.features }} {{ partial "card.html" . }} {{ end }}
    </div>
  </div>

  <div class="py-12">
    <div class="text-center font-bold text-gray-700 mb-8">
      Frequent Asked Questions
    </div>
    <div class="max-w-md mx-auto">
      {{ range .Params.faqs }} {{ partial "faq.html" . }} {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
